
  @import url('https://fonts.googleapis.com/css2?family=M+PLUS+Rounded+1c:wght@500&display=swap');


.list-glay {
    padding: 0;
}


.list-glay li {
    color: #000000;
    border-left: solid 6px #b17930;
    /*左側の線*/
    border-bottom: solid 2px #ffffff;
    /*下に灰色線*/
    background: rgb(255, 255, 255);
    margin-bottom: 10px;
    /*下のバーとの余白*/
    padding: 0.5em;
    list-style-type: none;
    /*リストの黒丸を消す*/
    font-weight: bold;
}

.container {
    width: fit-content;
    margin-left: auto;
    margin-right: auto;
}

.sannpuru {
    width: 70%;
    margin-left: auto;
    margin-right: auto;
}

.ribbon {
    display: inline-block;
    position: relative;
    height: 60px;
    /*高さ*/
    line-height: 60px;
    /*行の高さ*/
    text-align: center;
    padding: 0 70px 0 70px;
    /*文字の左右の余白*/
    font-size: 35px;
    /*文字サイズ*/
    background: #c29f68;
    /*背景色*/
    color: #FFF;
    /*文字色*/
    opacity: 0;
    transition: 5s;
}

.ribbon::after {
    position: absolute;
    content: '';
    width: 0px;
    height: 0px;
    top: 0;
    right: 0;
    border-width: 30px 15px 30px 0px;
    border-color: transparent #fff transparent transparent;
    border-style: solid;
}

h1 {
    color: #6b380f;
}

p {
    color: #381602;
}

.swiper {
    width: 650px;
    height: auto;
    overflow: visible;
}

.swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;
}

.swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.swiper-pagination {
    bottom: -21px !important;
}


body {
    width: 70%;
    margin: 5rem auto;
}

.btn-square {
    display: inline-block;
    padding: 0.5em 1em;
    text-decoration: none;
    background: #668ad8;
    color: #FFF;
    border-bottom: solid 4px #627295;
    border-radius: 3px;
}
.btn-square:active {
    /*ボタンを押したとき*/
    transform: translateY(4px);/*下に動く*/
    border-bottom: none;/*線を消す*/
}
